{% extends 'base.html.twig' %}

{% block title %}
    Tutuł strony
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{url}}js/dataTables.min.js"></script>
{% endblock %}

{% block body %}
    <h3>
        {% block H3 %}
            Tytuł tabeli
        {% endblock %}
    </h3>
    <div class="table-responsive">
        <table id="myTable" class="table table-striped" style="font-family: arial">
            {% block table %}
                Tabela
            {% endblock %}
        </table>
    </div>
    </br>
    </br>

    {% block buttons %}
        Przyciski pod tabelą
    {% endblock %}
{% endblock %}
