{% extends 'base.html.twig' %}

{% block title %}
    Rejestracja użytkownika - potwierdzenie
{% endblock %}

{% block js %}
{% endblock %}

{% block body %}
    <h3>Rejestracja użytkownika - potwierdzenie</h3>
    <div class="row justify-content-center mt-5">
        <p>Konto użytkownika zostało pomyślnie utworzone.</p>
    </div>
    <div class="row justify-content-center mt-3">
        <a href="logowanie" class="btn btn-primary">Przekieruj na stronę logowania</a>
    </div>
{% endblock %}
